[submodule "LeftOutToolkit"]
	path = LeftOutToolkit
	url = https://github.com/mrpropellers/LeftOutToolkit.git
[submodule ".\\LeftOutToolkit\\"]
	path = .\\LeftOutToolkit\\
	url = https://github.com/mrpropellers/LeftOutToolkit.git
